<div id="<%= dom_id tenant %>">
  <p>
    <strong>Database name:</strong>
    <%= tenant.database_name %>
  </p>

  <p>
    <strong>Database password:</strong>
    <%= tenant.database_password %>
  </p>

  <p>
    <strong>Database username:</strong>
    <%= tenant.database_username %>
  </p>

  <p>
    <strong>Domain name:</strong>
    <%= tenant.domain_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= tenant.name %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= tenant.plan %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tenant.status %>
  </p>

</div>
