<!DOCTYPE html>
<html>
<head>
  <title>FinTrack</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>


  <body>
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>" role="alert">
      <%= message %>
    </div>
  <% end %>

    <%= yield %>
  </body>
</html>
